@tailwind base;
@tailwind components;
@tailwind utilities;


body, html{
  height: 100%;
  background-color: black;
  color: white;
}
.navBorder{
  border-bottom: 1px solid rgb(50, 50, 50);
}
.footBorder{
  border-top: 1px solid rgb(50, 50, 50);
}
.subtitle{
  line-height: 2rem;
  font-size: 0.9rem;
  color: rgb(150, 150, 150);
}


.authInput::placeholder{
  color:  rgb(150, 150, 150)  !important;
}

.grayBorder{
  border: 1px solid rgb(50, 50, 50);
}

.divider{
  height: 1px;
  background-color: rgb(50, 50, 50);
}

.habitCard{
  width: 30rem;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

/* In styles.css or globals.css */
.react-calendar-heatmap .color-empty {
  fill: #343434 !important; /* Gray for empty squares */
}

.react-calendar-heatmap .color-completed {
  fill: #44a340 !important; /* One color for completed squares */ 
}

.react-calendar-heatmap-month-label{
  font-size: 8px !important;
}